
/* Sección de servicios */
.home-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  background-color: var(--section-color);
  padding: 0; 
  position: relative;
  overflow: hidden;
  min-height: 550px;
}

.service-text {
  padding: 5rem 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-img img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  transition: transform 0.6s ease;
}

.service-img img:hover {
  transform: scale(1.03);
}

/* Quiénes somos */
.home-about {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 5rem 8%;
  align-items: center;
}

.about-text h3 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  font-weight: 700;
}

.about-text p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.home-section{
  background-color: var(--section-color);
  gap: 3rem;
  align-items: center;
}

.map-img-right{
  height: 90%;
}
/* Responsive */
@media(max-width: 900px) {
  .home-description,
  .home-about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .home-about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img-left {
    margin-bottom: 2rem;
  }
  .map-img-right{
    height: 100%;
  }
}

.service-carousel {

  overflow: hidden;
}

.about-img-left {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  transition: opacity 1s ease;
}

.about-text-bg {
  overflow: hidden;
  background-color: var(--primary-text-color);
  padding: 2rem;
  border-radius: 12px;
}

.about-text-bg h2 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.about-text-bg p {
  color: #ffffff;
  line-height: 1.7;
  margin-bottom: 1rem;
}
